{% extends "base.html" %}

{% block top_navigation %}
    <ul class="nav nav-tabs">
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            Moji kolegiji
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">Action</a></li>
          <li><a tabindex="-1" href="#">Another action</a></li>
          <li><a tabindex="-1" href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
{% endblock %}
                       

{% block content %}

<div class="main">
    <div class="left_side_wide">            
        <h3>Moji kolegiji</h3>
    </div>                
</div>
    
{% endblock %}