{% for comment in comments %}

<p style="margin:0px;"><span style="color:#04616E;">{{comment.student.first_name}} {{comment.student.last_name}}</span>: {{comment.text|safe}}
{% ifequal comment.student user  %} 
  <a class="delete_comment" href="#" data-id="{{comment.id}}"><i class="icon-trash"></i></a>
{% endifequal %} 
</p>
<div style="font-size:10px; margin-bottom: 10px;">{{comment.date}}</div>
    
{% endfor %}
<div class="new_comment{{post_id}}"></div>
<form>
<textarea style="margin-top:15px; width: 547px;" class="comment_text{{post_id}} span7" placeholder="Komentiraj" name="text" rows="2"></textarea>
<input type="hidden" name="post_id" value="{{post_id}}">
</form>

<script>
$('.comment_text{{post_id}}').keypress(function(e) {
      if (e.keyCode == 13 && !e.shiftKey) {
        e.preventDefault();
        if ($('.comment_text{{post_id}}').val()!=''){
          $.ajax({
            url: "add-comment/",
            data: $("form").serialize(),
            success: function (data, textStatus, jqXHR){
                $('.comment_text{{post_id}}').val('');
                $('.new_comment{{post_id}}').append($(data));
                var com_num = $('.comments_number{{post_id}}').html();
                $('.comments_number{{post_id}}').html(parseInt(com_num)+1);
            },
          });
        }
      }
    });

$('.delete_comment').on('click',function(e){
        e.preventDefault();
        var clicked = $(this);

        alertify.set({ buttonReverse: true,
            labels: {
                ok     : "Da",
                cancel : "Ne"
        } });
        
        alertify.confirm("Jeste li sigurni da želite obrisati svoj komentar iz ove objave?", function (e) {
            if (e) {
                $.post("/delete-comment",{'comment_id':clicked.data('id')},function(msg){
                    location.reload();
                });
            } else {
                // user clicked "cancel"
            }
        });

        
    });
</script>