<p style="margin:0px;"><span style="color:#04616E;">{{comment.student.first_name}} {{comment.student.last_name}}</span>: {{comment.text|safe}}
{% ifequal comment.student user  %} 
  <a class="delete_comment" href="#" data-id="{{comment.id}}"><i class="icon-trash"></i></a>
{% endifequal %} </p>
<div style="font-size:10px; margin-bottom: 10px;">{{comment.date}}</div>

<script>
$('.delete_comment').on('click',function(e){
        e.preventDefault();
        var clicked = $(this);

        alertify.set({ buttonReverse: true,
            labels: {
                ok     : "Da",
                cancel : "Ne"
        } });
        
        alertify.confirm("Jeste li sigurni da želite obrisati svoj komentar iz ove objave?", function (e) {
            if (e) {
                $.post("/delete-comment",{'comment_id':clicked.data('id')},function(msg){
                    location.reload();
                });
            } else {
                // user clicked "cancel"
            }
        });

        
    });
</script>