{% extends "base.html" %}
{% load university_tags %}

{% block page_specific_head %}
<script type='text/javascript'>
$(document).ready(function(){
    var page_number = 1;

    $(".show_comments").click(function(){
        var clicked = $(this);
        if($(".comments"+clicked.data('id')).hasClass('loaded')){
            $(".comments"+clicked.data('id')).empty();
            $(".comments"+clicked.data('id')).removeClass('loaded');
        }
        else{
            $.ajax('post-comments/' ,
                    {
                        data: {
                            post_id: clicked.data('id'),
                            page: page_number,
                        },
                         
                        // whether this is a POST or GET request
                        type: "GET",
                        statusCode: {
                            200: function (data, textStatus, jqXHR){
                                page_number++;
                                $(".comments"+clicked.data('id')).html($(data));
                                $(".comments"+clicked.data('id')).addClass('loaded');
                            },
                        }
                    }

            );
            return false;

        }
        
    });

    $(".show_files").click(function(){
        var clicked = $(this);
        if($(".files"+clicked.data('id')).hasClass('loaded')){
            $(".files"+clicked.data('id')).empty();
            $(".files"+clicked.data('id')).removeClass('loaded');
        }
        else{
            $.ajax('post-files/' ,
                    {
                        data: {
                            post_id: clicked.data('id'),
                        },
                         
                        // whether this is a POST or GET request
                        type: "GET",
                        statusCode: {
                            200: function (data, textStatus, jqXHR){
                                $(".files"+clicked.data('id')).html($(data));
                                $(".files"+clicked.data('id')).addClass('loaded');

                            },
                        }
                    }

            );
            return false;
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="main">
        
        <div class="left_side">
            <h2>{{student_course.course.name}} - Objave</h2>

            <ul class = "posts">
                {% for post in posts %}
                    <li>
                        <div class = "post_box">
                            <div class = "post_title">
                                {{post.student.first_name}} {{post.student.last_name}}
                                {% ifequal post.student user  %} 
                                     <a class="edit" href="{% url 'edit_post' post.course.course.slug post.course.id post.id %}"><i style="font-size:8px;" class="icon-edit"></i></a>
                                    <a class="delete" href="#" data-id="{{post.id}}"><i class="icon-trash"></i></a>
                                {% endifequal %} 
                                
                            </div> 

                            <div class = "post_date">
                                {{post.date}}
                            </div>
                            <div class = "post">
                                {{post.text|safe}}                          
                            </div>
                            {% get_comments_number post as comments_number %} 
                            {% get_post_files_number post as files_number %} 
                            <div class = "show_comments_label">
                                <a class="show_files" href="#" data-id="{{post.id}}"><i style="margin-top: -1px;" class="icon-file"></i> Datoteke (<span class="files_number{{post.id}}">{{files_number}}</span>)</a> 
                               <a class="show_comments" href="#" data-id="{{post.id}}"><i style="margin-top: -1px; margin-left:5px;" class="icon-comment"></i> Komentari (<span class="comments_number{{post.id}}">{{comments_number}}</span>)</a>
                            </div>
                            <div class="files{{post.id}}" style="font-size: 12px;" data-id="{{post.id}}">
                            </div> 
                            <div class="comments{{post.id}}" style="font-size: 12px;" data-id="{{post.id}}">
                            </div> 
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div style="text-align: center; margin: 30px; clear: both">
            <span>
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Prethodna</a>
                {% endif %}
                {% if posts %}
                    <span class="current">
                        Stranica {{ posts.number }} od {{ posts.paginator.num_pages }}
                    </span>
                {% endif %}
                
        
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Sljedeća</a>
                {% endif %}
            </span>
            </div>
        </div>

        <div class="right_side">
            <ul style="width:220px; padding-bottom:30px;" class="nav nav-pills nav-stacked">
              {% for course in student_courses %}
              <li {% ifequal course student_course %}class="active"{% endifequal %}><a href="{% url 'course_wall' course.course.slug course.id %}">{{course.course.name}}</a></li>            
              {% endfor %}

            </ul>
                         
        </div>
        
                
</div>
{% if messages%}
    {% for message in messages %}
   <script type="text/javascript">
        log_message = (function () {
              alertify.log("{{ message }}");
        })()
    </script> 
    {% endfor %}
{% endif %}
    
{% endblock %}