{% extends "base.html" %}


{% block page_specific_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.minicolors.css" />  
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.minicolors.js"></script>

<script>
$(document).ready(function() {
  $('.minicolors').minicolors({
      hide: function() {
          $('.course_color').css("background-color", this.value);
          $.post("/update-color",{'student_course_id':$('input').data('courseid'), 'color':this.value},function(msg){});
      }
  });
});
</script>
{% endblock %}

{% block top_navigation %}

{% endblock %}
                       

{% block content %}

<div class="main">
    <div class="left_side_wide">            
        <h2>{{student_course.course.name}}</h2>

        <h4>Opis kolegija</h4>
        {{student_course.course.description}}
        <br/>
        <br/>
        <h4>Izvođači kolegija</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Titula</th>
              <th>Ime i prezime</th>
              <th>Tip</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for employee in course_employees %}
            <tr>
              <td>{{employee.employee.title}}</td>
              <td>{{employee.employee.first_name}} {{employee.employee.last_name}}</td>
              {% ifequal employee.employee.employee_type 'P' %} 
              <td>Profesor</td>
              {% else %}
              <td>Asistent</td>
              {% endifequal %}
              
              <td><a href="{% url 'send_mail' student_course.course.slug student_course.id employee.employee.id %}">Pošalji mail</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <br/>
        <h4>Literatura</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Naziv</th>
              <th>Autori</th>
              <th>Opis</th>
            </tr>
          </thead>
          <tbody>
            {% for literature in literature %}
            <tr>
              <td>{{literature.name}}</td>
              <td>{{literature.authors}}</td>              
              <td>{{literature.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <br/>
        <h4>Aktivnosti</h4> 
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Naziv</th>
                  <th>Datum</th>
                  <th>Vrsta aktivnosti</th>
                  <th>Mogući bodovi</th>
                  <th>Ostvareni bodovi</th>
                </tr>
              </thead>
              <tbody>
                {% for activity in activities %}
                <tr>
                  <td><a href="{{activity.get_url}}">{{activity.title}}</a></td>
                  <td>{{activity.start}}</td>
                  <td>{{activity.activity_type.name}}</td>
                  <td>{{activity.max_points}}</td>
                  <td>{{activity.achieved_points}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <a href="{% url 'new_activity' student_course.id %}"><i class="icon-plus"></i> Nova aktivnost</a>
        
    </div>  
    <div class="right_side_narrow">
      <ul style="width:220px; padding-bottom:30px;" class="nav nav-pills nav-stacked">
      {% for course in student_courses %}
      <li {% ifequal course student_course %}class="active"{% endifequal %}><a href="{% url 'course' course.course.slug course.id %}">{{course.course.name}}</a></li>            
      {% endfor %}

    </ul>
        Boja kolegija: <input class="minicolors" type="text" data-courseid="{{student_course.id}}" value="{{student_course.color}}"> 
        <div class="course_color" style="padding-top: 10px; margin-top:10px; background-color: {{student_course.color}};"></div>
        
    </div>              
</div>

{% if messages%}
    {% for message in messages %}
   <script type="text/javascript">
        log_message = (function () {
              alertify.log("{{ message }}");
        })()
    </script> 
    {% endfor %}
{% endif %}
    
{% endblock %}