{% extends "base.html" %}

{% block page_specific_head %}
{% endblock %}

{% block content %}

<div class="main">
    <div class="text-section">
        <h1>Objava</h1>
        <form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
            {% with form.text as f %}            
                <textarea class="span7" id="id_text" name="text" rows="6">{{f.value}}</textarea>
                <span class="error_txt">{{ f.errors }}</span>            
            {% endwith %}
        <br/>

        {% if files %}
        <p>Priložene datoteke:</p>
        <ul>
        {% for file in files %}

        <li><a href="{{file.filename.url}}">{{file.name}}</a><a class="delete_file" href="#" data-id="{{file.id}}"><i class="icon-trash"></i></a></li>
            
        {% endfor %}

        </ul>
        <br/>
        {% endif %}
        <!--http://www.fyneworks.com/jquery/multiple-file-upload/-->

        <input type="file" class="multi" name="files">        

        <br/>
        <input type="submit" name="submit" value="Spremi" class="button">
        </form>

    </div>
                
</div>
    
{% endblock %}