{% extends "base.html" %}

{% block page_specific_head %}
{% endblock %}

{% block content %}

<div class="main">
    <div class="text-section">
        <h1>Pošalji mail</h1>
        <p>Za: {{employee.first_name}} {{employee.last_name}}</p>

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% with form.subject as f %}
                <label for="{{ f.html_name }}">{{ f.label }}:</label>
                {{ f }}
                <span class="error_txt">{{ f.errors }}</span>
            {% endwith %}
            {% with form.message as f %}
                <label for="{{ f.html_name }}">{{ f.label }}:</label>
                <textarea class="span7" id="id_message" name="message" rows="10">{{f.value|default_if_none:""}}</textarea>
                <span class="error_txt">{{ f.errors }}</span>
            {% endwith %}
            
            <br>
            <input type="submit" name="submit" value="Spremi" class="button">
        </form>

    </div>
                
</div>
    
{% endblock %}