<!doctype html>
{% load user_zone_tags %}
<head>
    <meta charset="utf-8">
    <title>{% block block_title %}{{ head_title|default:"Studentski organizator" }}{% endblock %}</title>
    {% block head_placeholder %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/alertify.core.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/alertify.default.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
        <!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet"-->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fineuploader.css" />

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src='{{ STATIC_URL }}js/jquery-ui.min.js'></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/alertify.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <script src="{{ STATIC_URL }}js/messages.hr.js"></script>
        <script src="{{ STATIC_URL }}js/parsley.js"></script>  
        <script src="{{ STATIC_URL }}js/jquery.multifile.js"></script>     
        
        <!--script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script-->
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->

    {% endblock %}
    {% block page_specific_head %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <div class="c1">
                <div class="controls">
                    <nav class="links">
                        {% block top_navigation %}
                        {% endblock %}
                        
                        <ul>
                        {% for item in top_nav %}                        
                            <li><a href="{{item.url}}"><i class="{{item.icon}}"></i> {{item.label}}</a></li>
                                                        
                        {% endfor %}
                            {% block page_specific_navigation %}
                            {% endblock %}                            
                        </ul>
                        
                    </nav>
                    <div class="profile-box">
                        <span class="profile">
                            <a href="#" class="section">
                                
                                <span class="text-box">
                                    {% if user.is_authenticated %}
                                        Dobrodošao/la
                                        <strong class="name">{{user.username}}</strong>
                                    {% endif %}
                                    
                                </span>
                            </a>
                        </span>
                        <a href="{% url 'logout' %}" class="btn-on" data-toggle="tooltip" title="Odjava">On</a>
                    </div>
                </div>
                {% block content %}{% endblock %}                
            </div>
        </div>
        <aside id="sidebar">
            <strong class="logo"><a href="#">SO</a></strong>
            <ul class="tabset buttons">
                <li {% ifequal pagetitle 'Naslovnica'%}class="active"{% endifequal %}>
                    <a href="{% url 'home' %}" class="ico1" data-toggle="tooltip" data-placement="right" title="Naslovnica"><span>Naslovnica</span><em></em></a>
                </li>
                {% get_student_course user as student_course %}                
                <li {% ifequal pagetitle 'Moji kolegiji'%}class="active"{% endifequal %}>
                    <a href="{% url 'course' student_course.course.slug student_course.id %}" class="ico4" data-toggle="tooltip" data-placement="right" title="Moji kolegiji"><span>Moji kolegiji</span><em></em></a>
                </li>
                <li {% ifequal pagetitle 'Kalendar'%}class="active"{% endifequal %}>
                    <a href="{% url 'calendar' %}" class="ico5" data-toggle="tooltip" data-placement="right" title="Kalendar"><span>Kalendar</span><em></em></a>
                </li>
                <li {% ifequal pagetitle 'Bilješke'%}class="active"{% endifequal %}>
                    <a href="{% url 'notes' %}" class="ico3" data-toggle="tooltip" data-placement="right" title="Bilješke"><span>Bilješke</span><em></em></a>
                </li>
                
            </ul>
            <span class="shadow"></span>
        </aside>
    </div>
    
</body>
</html>