{% extends "base.html" %}

{% block page_specific_head %}
{% endblock %}

{% block page_specific_navigation %}
<li><a href="{% url 'delete_activity' %}" class="delete-activity" data-id="{{activity.id}}"><i class="icon-trash"></i> Obriši</a></li>
<li><a href="{% url 'update_points' %}" class="update-points" data-id="{{activity.id}}"><i class="icon-tasks"></i> Ažuriraj bodove</a></li>
{% endblock %}

{% block content %}

<div class="main">
    <div class="text-section">
        <h1>{{activity.title}}</h1>
        
        <table class="table table-hover" style="width:800px;">
            <thead>
                <tr>
                    <th>Naziv:</th>
                    <th>{{activity.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Kolegij:</b></td>
                    <td>{{activity.course.course.name}}</td>
                </tr>
                <tr>
                    <td><b>Vrsta aktivnosti:</b></td>
                    <td>{{activity.activity_type}}</td>
                </tr>
                <tr>
                    <td><b>Vrijeme početka:</b></td>
                    <td>{{activity.start}}</td>
                </tr>
                <tr>
                    <td><b>Vrijeme završetka:</b></td>
                    <td>{{activity.end}}</td>
                </tr>
                <tr>
                    <td><b>Mogući bodovi:</b></td>
                    <td>{{activity.max_points}}</td>
                </tr>
                <tr>
                    <td><b>Ostvareni bodovi:</b></td>
                    <td>{{activity.achieved_points}}</td>
                </tr>
                <tr>
                    <td><b>Opis:</b></td>
                    <td>{{activity.description}}</td>
                </tr>
            </tbody>
            
        </table>

    </div>
                
</div>
    
{% endblock %}