{% extends "base.html" %}

{% block page_specific_head %}
<link rel='stylesheet' href='{{ STATIC_URL }}fullcalendar/hot-sneaks/theme.css' />
<link href='{{ STATIC_URL }}fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='{{ STATIC_URL }}fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='{{ STATIC_URL }}fullcalendar/fullcalendar.js'></script>
<script>

    $(document).ready(function() {

    
        $('#calendar').fullCalendar({
            theme: true,
            //height: 500,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            timeFormat: 'H:mm',
            axisFormat: 'H:mm',
            allDayText: 'cijeli dan',
            firstDay: 1,
            monthNames: ['Siječanj', 'Veljača', 'Ožujak', 'Travanj', 'Svibanj', 'Lipanj', 'Srpanj', 'Kolovoz', 'Rujan', 'Listopad', 'Studeni', 'Prosinac'],
            monthNamesShort: ['Sij', 'Velj', 'Ožu', 'Tra', 'Svi', 'Lip', 'Srp', 'Kol', 'Ruj', 'Lis', 'Stu', 'Pro'],
            dayNames: ['Nedjelja', 'Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota'],
            dayNamesShort: ['Ned', 'Pon', 'Uto', 'Sri', 'Čet', 'Pet', 'Sub'],
            buttonText: {
                prev: "<span class='fc-text-arrow'>&lsaquo;</span>",
                next: "<span class='fc-text-arrow'>&rsaquo;</span>",
                prevYear: "<span class='fc-text-arrow'>&laquo;</span>",
                nextYear: "<span class='fc-text-arrow'>&raquo;</span>",
                today: 'danas',
                month: 'mjesec',
                week: 'tjedan',
                day: 'dan'
            },
        
            editable: true,
            allDayDefault: false,
            ignoreTimezone: false,
            
            events: "{% url 'calendar_events' %}",
            
            eventDrop: function(event, delta) {
                console.log(event);
                console.log(delta);
                alert(event.title + ' was moved ' + delta + ' days\n' +
                    '(should probably update your database)');
            },
            
            loading: function(bool) {
                if (bool) $('#loading').show();
                else $('#loading').hide();
            }
            
        });
        
    });

</script>
<style>

    #calendar {
        width: 800px;
        margin-top: 20px;
        }

</style>

{{form.media}}

{% endblock %}

{% block top_navigation %}
{% endblock %}

{% block content %}

<div class="main">
        <div class="left_side_wide">
            <h2>Kalendar aktivnosti</h2>
            <div id='loading' style='display:none'><img src="{{ STATIC_URL }}/images/loader.gif"></div>
            <div id='calendar'></div>   
        </div>
        <div class="right_side_narrow">
            {% for student_course in student_courses %}
            <a href="{% url 'course' student_course.course.slug student_course.id %}">{{student_course.course.name}} </a>  <div class="course_color" style="background-color: {{student_course.color}};"></div>
                
            {% endfor %}
            
        </div>
                
</div>

{% if messages%}
    {% for message in messages %}
   <script type="text/javascript">
        log_message = (function () {
              alertify.log("{{ message }}");
        })()
    </script> 
    {% endfor %}
{% endif %}

    
{% endblock %}