{% extends "base.html" %}

{% block page_specific_head %}
{% endblock %}

{% block content %}

<div class="main">
    <div class="text-section">
        <h1>Bilješka</h1>
        
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% with form as form %}
            {{form.as_table}}
        {% endwith %}
        <br/>
        <input type="submit" name="submit" value="Spremi" class="button">
        </form>

    </div>
                
</div>
    
{% endblock %}