{% extends "base.html" %}

{% block page_specific_head %}
{{form.media}}
{% endblock %}

{% block content %}

<div class="main">
    <div class="text-section">
        <h1>Aktivnost</h1>
        
        <form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
            {{form}}
        <br/>
        <input type="submit" name="submit" value="Spremi" class="button">
        </form>

    </div>
                
</div>
    
{% endblock %}