{% extends "base.html" %}

{% block page_specific_head %}
<script>
        $(document).ready(function(){
            $('.note_title').click(function(e){
                e.preventDefault();
                $(this).closest('li').find('.note').slideToggle();
            });
        });
</script>
{% endblock %}

{% block content %}

<div class="main">
        
        
        <div class="left_side">
            <h2>Bilješke</h2>
            <ul class = "accordion">
                {% for note in  notes %}
                    <li>
                        <div class = "note_box" style = 
                        "border-right: {{note.course.color}} 15px solid;
                        -moz-box-shadow:  0px 0px 5px 3px {{note.course.color}};
                        -webkit-box-shadow:  0px 0px 5px 3px {{note.course.color}};
                        box-shadow:  0px 0px 5px 3px {{note.course.color}};"
                        >
                            <div class = "note_title">
                                    <a href="#">{{note.name}}</a> 
                            </div> 

                            <div class = "extra_info">
                                    Datum: {{note.date}}  
                                    <a class="delete" href="#" data-id="{{note.id}}"><i style="margin-top: -3px; float:right;" class="icon-trash"></i></a>
                                    <a class="edit" href="{% url 'edit_note' note.get_slug note.id %}"><i style="margin-top: -3px; float:right;" class="icon-edit"></i></a>
                            </div>
                            <div class = "note">
                                    {{note.note|safe}}                          
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center; margin: 30px; clear: both">
            <span>
                {% if notes.has_previous %}
                    <a href="?page={{ notes.previous_page_number }}">Prethodna</a>
                {% endif %}
        
                <span class="current">
                    Stranica {{ notes.number }} od {{ notes.paginator.num_pages }}
                </span>
        
                {% if notes.has_next %}
                    <a href="?page={{ notes.next_page_number }}">Sljedeća</a>
                {% endif %}
            </span>
            </div>

        </div>

        <div class="right_side">            
            <h2>TO DO</h2>
            <ul class="todoList ui-sortable">
                {% for todo in todos %}
                    <li id="todo-{{todo.id}}" class="todo">

                        <div class="text">{{todo.to_do}}</div>

                        <div class="actions">
                            <a href="" class="edit"><i class="icon-edit"></i></a>
                            <a href="" class="done"><i class="icon-ok"></i></a>
                        </div>
                    </li>
                {% endfor %}
                

            </ul>

            <a href="" class="add-todo"><i class="icon-plus"></i> Novo</a>
        </div>

        
                
</div>

{% if messages%}
    {% for message in messages %}
   <script type="text/javascript">
        log_message = (function () {
              alertify.log("{{ message }}");
        })()
    </script> 
    {% endfor %}
{% endif %}
    
{% endblock %}