{% extends "base.html" %}
{% load l10n %}

{% block page_specific_head %}

<script type="text/javascript">
  window.onload = function () {
    CanvasJS.addColorSet("myColorSet",
            
              [//colorSet Array
                {% for student_course in student_courses %}
                "{{student_course.color}}",
                {% endfor %}               
                ]);
        
            
                
    var chart = new CanvasJS.Chart("chartContainer",
    {
      colorSet: "myColorSet",
      axisY: {
        interlacedColor: "#F0F0F0 ",
        tickColor: "#F0F0F0",
      },
      axisX: {
        // labelAngle: -20,
        labelFontColor: "rgb(0,75,141)",
        labelFontSize: 10,
        labelAngle: -10
      },
      theme: "theme1",
      data: [

      {        
        type: "column",  
        dataPoints: [    
        {% for student_course in student_courses %}
        {y: {{student_course.achieved_points|unlocalize}}, label: "{{student_course.course.name}}"},
        {% endfor %}  
        ]
      },   
      ]
    });

    chart.render();
  }
  </script>
<script src="{{ STATIC_URL }}js/canvasjs.js"></script>
     
{% endblock %}
                       
{% block content %}

<div class="main">
          <div class="left_side_wide">
            <h2>Naslovnica</h2>
            <h3>Nadolazeće aktivnosti</h3>
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Naziv</th>
                  <th>Datum</th>
                  <th>Kolegij</th>
                  <th>Vrsta aktivnosti</th>
                  <th>Mogući bodovi</th>
                </tr>
              </thead>
              <tbody>
                {% for activity in upcoming_activities %}
                <tr>
                  <td><a href="{{activity.get_url}}">{{activity.title}}</a></td>
                  <td>{{activity.start}}</td>
                  <td style="color:{{activity.course.color}}">{{activity.course.course.name}}</td>
                  <td>{{activity.activity_type.name}}</td>
                  <td>{{activity.max_points}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
            <br/>
            <h3>Moji bodovi</h3>
            <br/>
            <div id="chartContainer" style="height: 300px; width: 800px;">
            </div>
          </div>

            
        <div class="right_side_narrow">
            {% for student_course in student_courses %}
            <a href="{% url 'course' student_course.course.slug student_course.id %}">{{student_course.course.name}} </a> <div class="course_color" style="background-color: {{student_course.color}};"></div>
                
            {% endfor %}
            
            <h3 style="padding-top:20px;">Nedavne objave</h3>

            {% for post in latest_posts %}
            <div class="extra_info">{{post.date}}</div>
            <div><a style="color:{{post.course.color}};" href="{% url 'course_wall' post.course.course.slug post.course.id %}">{{post.student.first_name}} {{post.student.last_name}} u {{post.course.course.name}}:</a></div>
            <p>{{post.text|slice:":60"}}{% if post.text|length > 60 %}...{% endif %}</p>
              
            {% endfor %}
            
        </div>
                        
</div>
    
{% endblock %}