<li id="todo-{{todo.id}}" class="todo">

    <div class="text">{{todo.to_do}}</div>

    <div class="actions">
        <a href="" class="edit"><i class="icon-edit"></i></a>
        <a href="" class="delete"><i class="icon-ok"></i></a>
    </div>
</li>